.btn {
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
}

.container {
    text-align: center;
}

img {
    border:solid darkorange;
    margin: 20px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



